{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        ring/ring {:mvn/version "1.12.2"}}
 :aliases {:nREPL
            {:extra-deps
              {nrepl/nrepl {:mvn/version "1.2.0"}}}}}