{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ring/ring {:mvn/version "1.13.0"}
        metosin/reitit-ring {:mvn/version "0.5.5"}}
 :aliases {:nREPL
            {:extra-paths ["dev"]
             :extra-deps
              {nrepl/nrepl {:mvn/version "1.2.0"}}}
           :dev {:extra-paths ["dev"]}}}